[Desktop Entry]
Name=Inkscape
GenericName=SVG Editor
Comment=Free and Open Source SVG Editor.
Icon=inkscape
Type=Application
Terminal=false
Exec=inkscape
TryExec=inkscape
Categories=Utility;SVG;Editor
Keywords=svg;editor;inkscape
